name: CI

on:
  pull_request:

jobs:
  ci:
    name: Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - nesp-s3.yaml
          - nesp-s2.yaml  
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Build ESPHome firmware to verify configuration
        uses: esphome/build-action@v1.5.0
        with:
          yaml_file: ${{ matrix.file }}
